<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org./thymeleaf-extras-springsecurity3">
	<head>
		<title>ユーザ情報管理システム</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
	</head>
	<body>
		<div th:replace="common/header :: header"></div>
		<div id="mainContents">
			<h3 class="title" th:text="${title}">	</h3>
			<pre class="message" th:text="${message}">	</pre>

			<table>
				<tr>
					<td>ID:</td>
					<td th:text="${userId}"></td>
				</tr>
				<tr>
					<td>ユーザー名:</td>
					<td th:text="${name}"></td>
				</tr>
			</table>
			<form method="POST" th:action="@{/insertUpdateComp}">
				<input type="submit" value="一覧画面へ戻る" />
			</form>
		</div>
	</body>
</html>