<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
    <title>thymeleaf sample</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>ユーザー管理システム</h3>
    <form method="POST" action="/login">
    	<p th:if="${loginError}">ログインに失敗しました。もう一度ログインをやり直して下さい。</p>
    	ID:<input type="text" name="txtId" th:value="${id}" /><br/>
        Password:<input type="password" name="txtPassword" th:value="${password}" /><br/>
        <input type="submit" value="送信" />
    </form>
</body>
</html>