<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org./thymeleaf-extras-springsecurity3">g="jp">
<head>
	<title>ユーザ情報管理システム</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/userInfoDetail.css"/>
	<script type="text/javascript" src="js/jquery-3.1.0.js"></script>
	<script>
		$(document).ready(function(){
			// submit時のdisabled解除
			$("form[name='useInfoDetailPost']").submit(function() {
				$("input[name='txtId']").prop("disabled",false);
				$("input[name='txtPassword']").prop("disabled",false);
				return true;
			});
			// パスワードのチェックボックスクリック時にdisabledのオン・オフ処理
			$("#passwordChangeCheckBox").change(function(){
				if($(this).prop('checked')){
					$("input[name='txtPassword']").prop("disabled",false);
					$("input[name='hiddenCheckboxChangePass']").val("on");
				}else{
					$("input[name='txtPassword']").prop("disabled",true);
					$("input[name='hiddenCheckboxChangePass']").val("off");
				}
			});
		});

	</script>
</head>
<body>
	<div th:replace="common/header :: header"></div>
	<div id="mainContents">
		<h3 class="title" th:text="${title}"></h3>
		<form method="POST" name="useInfoDetailPost" action="/userInfoDetail">
			ID:<input type="text" name="txtId" th:value="${id}" disabled="disabled" /><br/>
	        Password:<input type="password" name="txtPassword" th:value="${password}" th:disabled="${isDisabledPassword}"/><br/>
	        <div th:if="${showPasswordChangeCheckBox}">
				<input type="hidden" name="hiddenCheckboxChangePass" value="off" />
	        	<input id="passwordChangeCheckBox" name="checkboxChangePass" type="checkbox" th:if="${showPasswordChangeCheckBox}" value=""/>Passwordを変更する
	        </div>
	        ユーザー名:<input type="text" name="txtName" th:value="${name}" /><br/>
	        <input type="submit" name="backPage" value="戻る" />
	        <input type="submit" th:name="${submitButtonName}" th:value="${submitButtonValue}" />
		</form>
	</div>
</body>
</html>