<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
	<link rel="stylesheet" type="text/css" href="css/userList.css"/>
	<script type="text/javascript" src="js/jquery-3.1.0.js"></script>
	<meta charset="UTF-8"/>
	<title>ユーザ情報管理システム</title>
</head>
<body>
	<form method="POST" name="logout" action="/logout">
		<font class="title" th:text="${title}">	</font>
		<input type="submit" value="ログアウト"/>
	</form>
	<form method="POST" action="/userInfoDetail">
		ID:<input type="text" name="txtId" th:value="${id}" disabled="disabled" /><br/>
        Password:<input type="password" name="txtPassword" th:value="${password}" th:disabled="${isDisabledPassword}"/><br/>
        <input type="checkbox" th:if="${showPasswordChangeCheckBox}" /><p th:if="${showPasswordChangeCheckBox}">Passwordを変更する</p>
        ユーザー名:<input type="text" name="txtName" th:value="${name}" /><br/>
        <input type="submit" name="backPage" value="戻る" />
        <input type="submit" th:name="${submitButtonName}" th:value="${submitButtonValue}" />
	</form>
</body>
</html>