<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org./thymeleaf-extras-springsecurity3">
<head>
	<title>ユーザ情報管理システム</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/userInfoDetail.css"/>
	<script type="text/javascript" src="js/jquery-3.1.0.js"></script>
	<script>
		$(document).ready(function(){
			// submit時のdisabled解除
			$("form[name='useInfoDetailPost']").submit(function() {
				$("input[name='userId']").prop("disabled",false);
				$("input[name='password']").prop("disabled",false);
				return true;
			});
			// パスワードのチェックボックスクリック時にdisabledのオン・オフ処理
			$("#passwordChangeCheckBox").change(function(){
				if($(this).prop('checked')){
					$("input[name='password']").prop("disabled",false);
					$("input[name='hiddenCheckboxChangePass']").val("on");
				}else{
					$("input[name='password']").prop("disabled",true);
					$("input[name='hiddenCheckboxChangePass']").val("off");
				}
			});
		});

	</script>
</head>
<body>
	<div th:replace="common/header :: header"></div>
	<div id="mainContents">
		<h3 class="title" th:text="${title}"></h3>
		<form method="POST" name="useInfoDetailPost"  th:action="@{/userInfoDetail}">
			<table>
				<tr>
					<td>ID:</td>
					<td>
					<input type="hidden" name="txtId" th:value="${id}" />
					<input type="text" name="userId" th:disabled="${isDisabledUserId}"
						th:field="*{userInfo.userId}"/>
						<span th:if="${#fields.hasErrors('*{userInfo.userId}')}"
							th:errors="*{userInfo.userId}" style="color:red" ></span>
					</td>
				</tr>
				<tr>
					<td>Password:</td>
					<td>
						<input type="password" name="password" th:disabled="${isDisabledPassword}"
							th:field="*{userInfo.password}"/>
							<span th:if="${#fields.hasErrors('*{userInfo.password}')}"
							th:errors="*{userInfo.password}" style="color:red" ></span>
						<div th:if="${showPasswordChangeCheckBox}">
						<input type="hidden" name="hiddenCheckboxChangePass" value="off" />
			        	<input id="passwordChangeCheckBox" name="checkboxChangePass" type="checkbox" th:if="${showPasswordChangeCheckBox}" value=""/>Passwordを変更する
			        </div>
					</td>
				</tr>
				<tr>
					<td>ユーザー名:</td>
					<td>
						 <input type="text" name="name" th:field="*{userInfo.name}"/>
						 <span th:if="${#fields.hasErrors('*{userInfo.name}')}"
							th:errors="*{userInfo.name}" style="color:red" ></span>
					</td>
				</tr>
				<tr>
					<td>権限:</td>
					<td>
						<select name="authorities" size="1">
							<option value="admin" th:selected="${adminSelected}">管理者</option>
							<option value="user" th:selected="${userSelected}">一般ユーザー</option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2">
					<input type="submit" name="backPage" value="戻る" />
					<input type="submit" th:name="${submitButtonName}" th:value="${submitButtonValue}" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>